{% extends 'base.html' %}
{% load static %}
{% block section %}
    {% for post in posts %}
        <div class="col-auto mt-lg-5 mx-auto mt-lg-5 mt-md-5 mt-sm-5 mt-xl-5">
            <div class="container">
                <img src="{{ post.image }}" alt="resim">
            <h1><a href="{% url 'post_detail' pk=post.pk %}" style="color: #CC3434;">{{ post.title }}</a></h1>
            <div>
                {{ post.published_date }}
            </div>
            <hr>

            <p>{{ post.text|safe|linebreaks }}</p>
            <hr>
            <hr>
            </div>
        </div>
    {% endfor %}

{% endblock %}
