<footer class="page-footer font-small pt-4 footer-small-nav" style="font-family: 'Ubuntu', cursive; background-color: #e6e6e6">
    <div class="container-fluid text-center text-md-left">
        <div class="row m-lg-5 align-baseline">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 float-left"
                    style="font-family: 'Ubuntu', cursive; color: #000000;">YEMEK FALAN</h5><br><br>
                <p class="col-xl-6 col-lg-3 col-md-3 col-sm-3 col-xs-12"
                   style="font-family: 'Ubuntu', cursive; color: #000000;">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Architecto atque mollitia nam necessitatibus provident quaerat saepe temporibus.
                    Consequatur culpa eius fuga maxime minus odio quam repellat, velit? Aperiam, atque commodi!</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 style="font-family: 'Ubuntu', cursive; color: #000000;">Sosyal Medyada Bizi Takip Edin</h5><hr>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" style="font-family: 'Ubuntu', cursive; color: #000000;">Instagram</a>
                    </li>
                    <li>
                        <a href="#" style="font-family: 'Ubuntu', cursive; color: #000000;">Twitter</a>
                    </li>
                    <li>
                        <a href="#" style="font-family: 'Ubuntu', cursive; color: #000000;">Facebook</a>
                    </li>
                    <li>
                        <a href="#" style="font-family: 'Ubuntu', cursive; color: #000000;">LinkedIn</a>
                    </li>
                    <li>
                        <a href="#" style="font-family: 'Ubuntu', cursive; color: #000000;">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3"
         style="background-color: #CC3434; color: #FFFFFF; font-family: 'Ubuntu', cursive">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/" style="color: #E0E2E4; font-family: 'Ubuntu', cursive">
            yemekfalan.com</a>
    </div>
</footer>
