<!-- Footer -->
<footer class="page-footer font-small pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">YEMEK FALAN</h5>
        <p>Buzdolabınızda ne varsa onlarla en güzel yemeği yapın.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="">Sosyal Medyada Bizi Takip Edin</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Instagram</a>
          </li>
          <li>
            <a href="#!">Twitter</a>
          </li>
          <li>
            <a href="#!">Facebook</a>
          </li>
          <li>
            <a href="#!">LinkedIn</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->



    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background-color: #CC3434; color: #FFFFFF">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/" style="color: yellow"> yemekfalan.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->