<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #CC3434; font-family: 'Ubuntu', cursive; margin-bottom: 50px">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 float-left">
        <a class="navbar-brand" href="#" style="color: white; font-family: 'Ubuntu', cursive">YEMEK FALAN</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 float-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-3 col-sm-6 col-xs-12 mx-auto">
        <form class="form-inline my-2 my-lg-0 container align-content-lg-center" style="color: #CC3434;">
            <input class="form-control mr-sm-2" style="border-radius: 50px; font-family: 'Ubuntu', cursive"
                   type="search" placeholder="Ne Verelim Abime" aria-label="Search">
            <button class="btn btn-white btn-lg my-2 my-sm-0 px-6" type="submit"
                    style="font-family: 'Ubuntu', cursive; color: #CC3434;border-color: #EBEB00;">
                Yemeğimi Bul
            </button>
        </form>
    </div>
</nav>
